// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#formulario{
    color: white;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10%;
}

textarea cols{
    size: inherit;
}